
include ../includes/head
  include ../includes/css_base
  include ../includes/js_base
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/socket-io.js')
  script(src='/javascripts/script.js')
  - if (typeof head_title !== 'undefined')
    title
      #{head_title}
  - else
    title
      #{settings.siteName}

- var body_class = (typeof session !== 'undefined' ? 'connected' : '')
body(class=body_class)
  .login
    - if (typeof session !== 'undefined')
      | Hi !{session.username} | 
      a#logout(href='/logout') Log Out
    - else
      a#login(href='/login') Login
      //
        | &nbsp;or
        a(href='/login/create') create
  #wrapper
    header
      h1
        a(class="brand", href="/") #{settings.siteName}
        | &nbsp;
        span#slogan(role='slogan') your slogan ...
    #main-menu(role="navigation")
      include ../includes/main-nav
    #main(role="main")!= body
    footer 2011 - Powered with nodejs